<!doctype html>
<html>
  <head></head>
  <body>
    <div class="container">
      {{#times 50}}
        {{> panel }}
      {{/times}}
      <div class="content">
        <h3>
          <span>An LGBTQ+ Comedy Night</span>
        </h3>
        <p>Every other Monday at Moodring</p>
        <p>Hosted by Sam Campbell, Simone Leitner, and Peter Valenti</p>
      </div>
    </div>
  </body>
</html>