<div class="panel">
  <div class="panel__inner">
    <div class="panel__animater">
      <div class="panel__content">
        <h1>
          <span>OPEN FLAME</span>
        </h1>
      </div>
    </div>
  </div>
</div>